@import url("https://fonts.googleapis.com/css?family=Lato");
.outer {
  height: 100vh;
  min-width: 20vw;
  flex: 1;
}

.progress {
  display: inline-flex;
  height: 100%;
  padding: 5vh 10%;
}
.progress > div {
  display: flex;
  flex-direction: column;
  color: #333;
}
.progress > div.left {
  padding-right: 20px;
  text-align: right;
}
.progress > div.left div:last-of-type:after {
  display: none;
}
.progress > div.left div:after {
  content: "";
  background: rgba(51, 51, 51, 0.1);
  border-radius: 2px;
  position: absolute;
  right: -20px;
  top: 10px;
  height: 101%;
  width: 1px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.progress > div.right {
  padding-left: 20px;
}
.progress > div.right div.prev:after {
  transition: none;
}
.progress > div.right div.current {
  color: #333;
  font-weight: bold;
}
.progress > div.right div.current:before {
  background: #333;
  padding: 10px;
  transition: all 0.2s 0.15s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.progress > div.right div.current:after {
  height: 0%;
  transition: height .2s ease-out;
}
.progress > div.right div.current ~ div {
  color: #666;
}
.progress > div.right div.current ~ div:before {
  background: #666;
  padding: 2.5px;
}
.progress > div.right div.current ~ div:after {
  height: 0%;
  transition: none;
}
.progress > div.right div:before {
  content: "";
  background: #333;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 10px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  transition: padding 0.2s ease;
}
.progress > div.right div:after {
  content: "";
  background: #333;
  border-radius: 2px;
  position: absolute;
  left: -20px;
  top: 10px;
  height: 101%;
  width: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: height 0.2s ease;
}
.progress > div div {
  flex: 1;
  position: relative;
  line-height: 20px;
  cursor: default;
  min-height: 30px;
}
.progress > div div:last-of-type {
  flex: 0;
}

.progress.dark {
  background: #333;
  display: inline-flex;
  height: 100%;
  width: 100%;
  padding: 5vh 10%;
}
.progress.dark > div {
  display: flex;
  flex-direction: column;
  color: #ccc;
}
.progress.dark > div.left {
  padding-right: 20px;
  text-align: right;
}
.progress.dark > div.left div:last-of-type:after {
  display: none;
}
.progress.dark > div.left div:after {
  content: "";
  background: rgba(211, 211, 211, 0.05);
  border-radius: 2px;
  position: absolute;
  right: -20px;
  top: 10px;
  height: 101%;
  width: 1px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.progress.dark > div.right {
  padding-left: 20px;
}
.progress.dark > div.right div.prev:after {
  transition: none;
}
.progress.dark > div.right div.current {
  color: white;
  font-weight: bold;
}
.progress.dark > div.right div.current:before {
  background: white;
  padding: 10px;
  transition: all 0.2s 0.15s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.progress.dark > div.right div.current:after {
  height: 0%;
  transition: height .2s ease-out;
}
.progress.dark > div.right div.current ~ div {
  color: #666;
}
.progress.dark > div.right div.current ~ div:before {
  background: #666;
  padding: 2.5px;
}
.progress.dark > div.right div.current ~ div:after {
  height: 0%;
  transition: none;
}
.progress.dark > div.right div:before {
  content: "";
  background: lightgray;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 10px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  transition: padding 0.2s ease;
}
.progress.dark > div.right div:after {
  content: "";
  background: lightgray;
  border-radius: 2px;
  position: absolute;
  left: -20px;
  top: 10px;
  height: 101%;
  width: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: height 0.2s ease;
}
.progress.dark > div div {
  flex: 1;
  position: relative;
  line-height: 20px;
  cursor: default;
  min-height: 30px;
}
.progress.dark > div div:last-of-type {
  flex: 0;
}

.done.current {
  color: #62af0b !important;
}
.done.current:before {
  background: #62af0b !important;
}

.dark .done.current {
  color: lightgreen !important;
}
.dark .done.current:before {
  background: lightgreen !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial, sans-serif;
  display: flex;
}

* {
  box-sizing: border-box;
}
