<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqu.Dao.ApplyMapper">

	<select id="select_vApply_by_student_id"
		resultType="cn.edu.cqu.Model.vApply">
		select *
		from apply_view
		where student_id = #{student_id}
	</select>

	<insert id="insert_apply">
		update apply
		set apply_status = 2
		where student_id =
		#{student_id}
	</insert>

	<update id="update_apply_status">
		update apply
		set apply_status = #{apply_status}
		where
		student_id =
		#{student_id}
	</update>

</mapper>