<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqu.Dao.MapMapper">

	<select id="select_student_status_map"
		resultType="cn.edu.cqu.Model.StudentStatusMap">
		select * from student_status_map
	</select>

	<select id="select_student_permission_map"
		resultType="cn.edu.cqu.Model.StudentPermissionMap">
		select * from student_permission_map
	</select>

	<select id="select_study_status_map"
		resultType="cn.edu.cqu.Model.StudyStatusMap">
		select * from study_status_map
	</select>

	<select id="select_material_type_map"
		resultType="cn.edu.cqu.Model.MaterialTypeMap">
		select * from material_type_map
	</select>

	<select id="select_material_type_map_length" resultType="int">
		select
		count(*) from material_type_map
	</select>

	<select id="select_material_type_map_to_upload_stu"
		resultType="cn.edu.cqu.Model.MaterialTypeMap">
		SELECT
		material_type_map.material_type_id,
		material_type_map.material_type_name,
		material_type_map.material_type_from,
		material_type_map.student_status
		FROM
		student_status_material
		INNER
		JOIN material_type_map ON student_status_material.material_type_id =
		material_type_map.material_type_id
		where student_id = #{student_id} and
		material_url is null and
		material_type_map.material_type_from = 1
	</select>

	<select id="select_material_type_map_to_upload_admin"
		resultType="cn.edu.cqu.Model.MaterialTypeMap">
		SELECT
		material_type_map.material_type_id,
		material_type_map.material_type_name,
		material_type_map.material_type_from,
		material_type_map.student_status
		FROM
		student_status_material
		INNER
		JOIN material_type_map ON student_status_material.material_type_id =
		material_type_map.material_type_id
		where student_id = #{student_id} and
		material_url is null and
		material_type_map.material_type_from = 2
	</select>
</mapper>