<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqu.Dao.StudyMapper">

	<select id="select_all_study" resultType="cn.edu.cqu.Model.Study">
		select *
		from
		study
	</select>
	
		<select id="select_study_by_id" resultType="cn.edu.cqu.Model.vStudy">
		select *
		from
		study_view
		where
		study_id = ${study_id}
	</select>
	
	<!-- 生成study -->
	<insert id="insert_study">
		insert into study(study_title, study_status,
		study_date, 
		study_content)
		values(#{study_title}, #{study_status},
		now(),
		#{study_content})
	</insert>
	
		<!-- 编辑study -->
	<update id="update_study">
		update study
		set study_title =
		#{study_title},study_status =
		#{study_status},study_content =
		#{study_content}
		where study_id = #{study_id}
	</update>
	
	<delete id="delete_study">
	delete from
	study
	where
	study_id = #{study_id}
	</delete>
	
	<select id="select_study_list"
		resultType="cn.edu.cqu.Model.vStudy">
		select *
		from
		study_view
		<where>
			<if test="study_title != null and study_title != ''">
				<bind name="study_title" value="'%' + study_title + '%' " />
				and study_title like #{study_title}
			</if>
			<if test="study_status != null and study_status != ''">
				and study_status = #{study_status}
			</if>
		</where>
	</select>

	
</mapper>